<h1 class="centered fancy">Dashboard</h1>
<div id="welcome">
<h2 id="welcome-message">Welcome to the Inventory System</h2>

<p> You currently have <b><%= SalesItem.count %></b> items in the inventory system. </p>
The
<span class="cart">
    <font color="blue"><ins><b>average</b></ins></font> price of all the sales items is
    <b>$<%= SalesItem.average(:price) %></b>.
With a total value of <b>$<%= SalesItem.sum(:price) %></b>
    <div id="sidebar">
    	<b><i>The average is calculated by taking 
    	the sum of all the prices and 
    	dividing by the total number of items</i></b></div>
</span>