
.bold-blue 
    {color: blue;
    font-weight: bold;
    text-decoration: underline;}

h1.centered 
    {text-align: center;}

h1.fancy 
    {color: darkgreen;
    text-decoration: underline;}

div#welcome 
    {border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    width: 40%;}

#header 
    {background-color: dodgerblue;
    font-size: 16pt;
    padding: 20px;}

table 
    {border: 1px solid #000000;
    border-bottom-left-radius: 0;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
    margin: 0;
    padding: 0;
    width: 50%;}

td, th
    {border: 1px solid black;}

#sidebar 
{display: none;}

.cart:hover #sidebar
    {display:block;}